---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/FaqCard.astro';
import NavBar from "@/components/NavBar.astro"
import Landing from '@/sections/Landing.astro';
import MostPopularCourses from '@/sections/MostPopularCourses.astro';
import PopularCourses from '@/sections/PopularCourses.astro';
import Approdable from '@/sections/Approdable.astro';
import Reviews from '@/sections/Reviews.astro';
import Faq from '@/sections/Faq.astro';
import Newsletter from '@/sections/Newsletter.astro';
import Footer from '@/sections/Footer.astro';
import Rights from '@/components/Rights.astro';
---

<Layout title="Prueba Airam Linares.">
	<div id="background">
		<img id="PinkBig" src="/src/svg/PinkBig.svg" alt="PinkBig" />
		<img id="PinkSmall" src="/src/svg/PinkSmall.svg" alt="PinkSmall" />
	</div>
	<header>
		<NavBar />
	</header>
	<main>
		<Landing />
		<MostPopularCourses />
		<PopularCourses />
		<Approdable />
		<Reviews />
		<Faq />
		<Newsletter />
	</main>
	<footer>
		<Footer />
		<Rights />
	</footer>
</Layout>

<style>
	main {
		position: relative;
		margin: 0 5% 0 5%;
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-width: 800px;
	}

	header {
		padding: 1rem;
		width: 95%;
		z-index: 1;
		max-height: 95%;
		min-width: 800px;
	}

	footer {
		min-width: 900px;
	}

	#background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90%;
		z-index: -3;
		@media screen and (max-width: 1440px) {
			min-width: 1440px;
			overflow: hidden;
			
		}
	}

	#PinkBig {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 60%;
	}
	
	#PinkSmall {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -2;
		width: 30%;
	}
</style>
