---
interface Props {
    image: string;
    description: string;
    PosterName: string;
    PosterJob: string;
}

const { image, description, PosterName, PosterJob } = Astro.props;
---

<div class="review-card">
    <img id="avatar" src={image} alt="nada" />
    <p>{description}</p>
    <img id="stars" src="/src/svg/stars.svg" alt="">
    <h5>{PosterName}</h5>
    <h6>{PosterJob}</h6>
</div>

<style>
    .review-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 1rem;
        flex: 0 0 45%;
    }
    #stars {
        width: 50%;
        height: 50%;
    }

    #avatar {
        width: 30%;
        height: 30%;
        border-radius: 50%;
    }

    p {
        text-align: center;
        margin: 1rem;
        color: #737373;
        font-size: small;
    }

    h5 {
        font-weight: 700;
        margin: 5% 0 -5% 0;
        color: black;
    }

    h6 {
        color: #737373;
    }
</style>