---

---

<div class="rights">
    <p>Made With Love By Airam Linares share Rights with Figmaland</p>
    <div id="social">
        <img src="/src/svg/facebook.svg" alt="facebook">
        <img src="/src/svg/instagram.svg" alt="instagram">
        <img src="/src/svg/twitter.svg" alt="twitter">
    </div>
</div>

<style>
    #social img {
        margin-right: 1rem;
    }

    #social img:hover {
        transform: scale(1.2);
    }
    
    .rights {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #FAFAFA;

        p {
            margin-bottom: 1rem;
        }

    }
</style>