<div class="rights">
    <p>Made With Love By Airam Linares share Right with Figmaland</p>
    <div class="social">
        <img src="/src/svg/facebook.svg" alt="facebook">
        <img src="/src/svg/instagram.svg" alt="instagram">
        <img src="/src/svg/twitter.svg" alt="twitter">
    </div>
</div>

<style>
    .rights {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #FAFAFA;

        p {
            margin-bottom: 1rem;
        }

        .social img {
            margin-right: 1rem;
        }
    }
</style>