---
import ApprodableCard from '../components/ApprodableCard.astro'
---

<section>
    <div class="advice">
        <h6>Practice Advice</h6>
        <h2>Approdable Packages</h2>
        <p>Problems trying to resolve the conflict between 
            the two major realms of Classical physics: Newtonian mechanics </p>
    </div>
    <div class="slider">
        <div class="slider-inner">
            <ApprodableCard
                title="Training Courses" 
                description="We focus on ergonomics and meeting you where you work. It's only a keystroke away."
                image="/src/img/product-cover-1.png"
                sales={15}
                price={16.48}
                salePrice={6.48}
                rate={4.9}
            />
            <ApprodableCard
                title="LifeTime Access"
                description="We focus on ergonomics and meeting you where you work. It's only a keystroke away."
                image="/src/img/product-cover-2.png"
                sales={15}
                price={16.48}
                salePrice={6.48}
                rate={4.9}
            />
            <ApprodableCard
                title="Training Courses"
                description="We focus on ergonomics and meeting you where you work. It's only a keystroke away."
                image="/src/img/product-cover-3.png"
                sales={15}
                price={16.48}
                salePrice={6.48}
                rate={4.9}
                timeToComplete='2hr 30min'
                lessons='64 lessons'
                type='Progress'
            />
        </div>
    </div>
</section>

<style>
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0 0 25% 0;
    }

    .advice {
        margin: 0 30% 5% 30%;
        text-align: center;

        h6 {
            color: #8D5CF6;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            margin: -2% 0 -2% 0;
        }
    }

    .slider {
        overflow: hidden;
        width: 60%;
        position: relative;
    }

    .slider-inner {
        display: flex;
        gap: 1.5rem;
        transition: transform 0.5s ease-in-out;
    }
</style>
<script>

    let sliderInner = document.querySelector('.slider-inner') as HTMLElement;
    let index = 0;
    let percentage = index * -50;
    if (sliderInner) {
        sliderInner.style.transform = `translateX(${percentage}%)`;
    }

    setInterval(() => {
        let percentage = index * -50;
        if (sliderInner) {
            sliderInner.style.transform = `translateX(${percentage}%)`;
        }
        index++;
        if (index == 2) {
            index = 0;
        }
        
    }, 5000);
</script>