---

---

<section>
    <div class="links-footer">
        <h5>Company Info</h5>
        <a href="#">About Us</a>
        <a href="#">Careers</a>
        <a href="#">We are hiring</a>
        <a href="#">Blog</a>
    </div>
    <div class="links-footer">
        <h5>Legal</h5>
        <a href="#">About Us</a>
        <a href="#">Careers</a>
        <a href="#">We are hiring</a>
        <a href="#">Blog</a>
    </div>
    <div class="links-footer">
        <h5>Features</h5>
        <a href="#">Business Marketing</a>
        <a href="#">User Analytic</a>
        <a href="#">Live Chat</a>
        <a href="#">Unlimited Support</a>
    </div>
    <div class="links-footer">
        <h5>Resources</h5>
        <a href="#">IOS & Android</a>
        <a href="#">Watch a Demo</a>
        <a href="#">Customers</a>
        <a href="#">Api</a>
    </div>
    <div class="comunication-footer">
        <h5>Get in Touch</h5>
        <p><img src="/src/svg/phone.svg" alt=""> (480)555-0103</p>
        <p> <img src="/src/svg/map.svg" alt=""> 4517 Washintong Ave. Manchester, Kent</p>
        <p><img src="/src/svg/email.svg" alt=""> debra.holt@example.com</p>
    </div>
</section>

<style>
    section {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        background-color: #fff;
        color: black;
    }

    .links-footer {
        display: flex;
        flex-direction: column;

        h5 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        a {
            color: #737373;
            margin-bottom: 0.5rem;
            text-decoration: none;
            width: fit-content;
        }

        a::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: #8D5CF6;
            transition: width .3s;
        }

        a:hover {
            color: #8D5CF6;
        }

        a:hover::after {
            width: 100%;
            transition: width .3s;
        }
    }

    .comunication-footer {
        display: flex;
        flex-direction: column;

        h5 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        p {
            display: flex;
            margin-bottom: 0.5rem;

            img {
                margin-right: 1rem;
            }
        }

    }
</style>