---

---

<section>
    <div id="images">
        <img class="Lady" src="/src/img/Lady2.png" alt="Lady">
        <img class="Graphic" src="/src/img/Graphic.png" alt="Graphic">
        <img class="Scores" src="/src/img/Scores.png" alt="Scores">
        <img class="Triangle" src="/src/svg/Triangle.svg" alt="Triangle">
        <img class="Hands" src="/src/svg/Hands.svg" alt="Triangle">
        <img class="Okey" src="/src/svg/Okey.svg" alt="Triangle">
        <img class="Emoji" src="/src/svg/Emoji.svg" alt="Triangle">
    </div>

    <div class="info">
        <div class="separator"></div>
        <h2>Our Popular Courses</h2>
        <p>Problems trying to resolve the conflict between 
            the two major realms of Classical physics: 
            Newtonian mechanics </p>

        <div class="learn">
            <a href="#">Learn More</a>
            <img src="/src/svg/arrow-next.svg" alt="->">
        </div>
    </div>
</section>

<style>
    section {
        margin: 0 0 25% 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;

        @media screen and (max-width: 1220px) {
            flex-direction: column-reverse;
            row-gap: 20px;
            
        }
    }

    .separator {
        width: 30%;
        border: none;
        border-top: 7px solid #E74040;
        float: left;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
        margin-left: 10%;


        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            margin: 2% 0 0 0 ;
        }

        p {
            font-size: 1rem;
            margin: 5% 0;
        }
    }

    .learn {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 40%;
        
        img {
            width: 20px;
            height: 20px;
            transition: transform 0.5s ease-in-out;
        }

        a {
            position: relative;
            text-decoration: none;
            color: #8D5CF6;
            font-size: 14px;
        }

        a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #8D5CF6;
        transition: width 0.5s ease-in-out;
        }

        a:hover::after {
            width: 100%;
        }
    }

    .learn:hover img {
        transform: translateX(10px);
    }

    #images {
        position: relative;
        width: 100%;
        max-width: 600px; 
        aspect-ratio: 1; 
        box-sizing: border-box;

        img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .Lady {
        top: 10%;
        left: 40%;
        transform: translate(-40%, -10%);
        z-index: 2;
    }

    .Graphic {
        bottom: 45%;
        right: 26%;
        z-index: 8;
    }

    .Scores {
        bottom: 0;
        left: 0;
        z-index: 4;
    }

    .Triangle {
        top: 50%;
        right: 20%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .Hands {
        top: 62%;
        right: 25%;
        z-index:5;
    }

    .Emoji {
        top: 25%;
        right: 25%;
        z-index: 6;
    }

    .Okey {
        bottom: 40%;
        left: 10%;
        z-index: 7;
    }
</style>